<%
  require 'rest-client'
  require "json"

  if params[:keyword]
    url = "https://en.wikipedia.org/w/api.php?action=opensearch&search=#{params[:keyword]}&format=json"

    res = RestClient.get url
    parsed_json = JSON.parse(res)

    params[:content] = parsed_json[2]
  end
%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>erb Demo</title>
    <script src="jquery.min.js"></script>
</head>
<body>
    <form>
      <input type="text" name="keyword">
      <input type="submit" id="button" value="Search">
    </form>

    <div id="container">
      <%= params[:content] %>
    </div>
</body>
</html>